.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 800px;
  box-sizing: border-box;
  padding: 40px 0;
  background-color: var(--color-dark-white);
  background-image: url("../images/hero/hero-1.jpg");
  background-size: cover; /* background-size: 100% 100%; */ /* background-size: contain; */
  background-position: center;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    var(--color-dark-white) 1%,
    var(--color-light-gray) 5%,
    transparent 75%
  );
  pointer-events: none;
}

.hero-container {
  position: relative;
  z-index: 1;
  width: min(1200px, calc(100% - 40px));
  margin: 0 auto;
}

.hero-title {
  width: min(600px, 100%);
}

.hero-title h2 {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
}

.hero-description {
  margin-top: 20px;
  color: var(--color-light-black);
  font-size: 15px;
  line-height: 1.5;
}

.hero-button {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 45px;
  color: var(--color-white);
  text-decoration: none;
  background: var(--color-black);
  transition: var(--transition);
}

.hero-button:hover {
  background: var(--color-light-black);
}

.hero-slider {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 50px;
}

.hero-pagination-item {
  padding: 0;
  color: var(--color-gray);
  font-size: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hero-pagination-item.active {
  color: var(--color-black);
  font-weight: 595;
}

.hero-pagination-line {
  display: block;
  flex-shrink: 0;
  width: 45px;
  height: 2px;
  background-color: var(--color-dark-gray);
  opacity: 0.5;
}

.hero-image {
  width: 50%;
}

.hero-image img {
  display: block;
  width: 100%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.section-header h2 {
  margin: 0;
  font-size: 20px;
}

.section-header a {
  color: var(--color-black);
  text-decoration: none;
}
